


.custom-element{
    background-color: rgb(142, 221, 162);
}

.img-logo{
    width: 150px;
}

.navbar-margin{
    padding-left: 63%;
}

.img-restaurante{
    width: 100%;
}

.color-text{
    color:rgb(25, 216, 0) ;
}

.formulario{
    background-color: rgb(142, 221, 162);
    padding: 2%;
}
